.articles {
    width: 1100px;
    margin: 0 auto;
}

.classify {
    width: 200px;
    margin: 100px 100px;
    border-top: 1px solid #D6D695;
    border-bottom: 1px solid #D6D695;
    padding: 10px 0;
}

.classify ul li {
    cursor: pointer;
    padding: 5px;
}

.classify ul li:hover {
    text-decoration: underline;
}

.articleList {
    width: 700px;
    box-shadow: 3px 3px 6px #ccc;
    border-radius: 10px;
    z-index: 1;
}

.articleList .articleInfo {
    padding: 25px 15px;
    border-bottom: 1px solid #D6D695;
    cursor: pointer;
}

.articleList .articleInfo:last-of-type {
    border-bottom: none;
}

.articleList .articleInfo .title {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 700;
}

.articleList .articleInfo .otherInfo {
    margin-top: 10px;
}

.articleList .articleInfo .otherInfo .class {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 12px;
}