.editArticle {
    position: relative;
    height: calc(100vh - 90px);
}

.editArticle .sidebar {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #ddd;
    box-shadow: 0 5px 10px #ccc;
}

.editArticle .sidebar .optionsBox {
    background-color: #ADAAAA;
    color: #6D6B6B;
    line-height: 40px;
}

.editArticle .sidebar .optionsBox select {
    margin-top: 12px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    border: none;
    background-color: #F6F1F1;
}

.editArticle .sidebar .sidebarTit {
    font-size: 16px;
    text-align: center;
    line-height: 70px;
}

.editArticle .sidebar .optionsBox span {
    color: #fff;
    padding: 5px 20px;
    font-size: 15px;
    cursor: pointer;
}

.editArticle input {
    height: 55px;
    line-height: 55px;
    font-size: 20px;
    width: 100%;
    overflow: hidden;
    border: none;
    background-color: #F6F1F1;
    padding: 0 40px;
}

.editArticle textarea {
    width: 100%;
    min-height: 100%;
    border: none;
    background-color: #F6F1F1;
    padding: 40px;
    font-size: 16px;
    margin: 0;
}

.editArticle .markdownContent {
    padding-left: 54%;
    padding-top: 40px;
}