.editArticle {
    position: relative;
    height: calc(100vh - 90px);
}

.editArticle .sidebar {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #ddd;
    box-shadow: 0 5px 10px #ccc;
}

.editArticle .sidebar .sidebarTit {
    font-size: 16px;
    text-align: center;
    line-height: 70px;
}

.editArticle textarea {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #F6F1F1;
    padding: 40px;
    font-size: 16px;
    margin: 0;
}

.editArticle .markdownContent {
    padding-left: 54%;
    padding-top: 40px;
}