@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

a:hover,
a:active {
    outline: 0
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}

#map_canvas img,
.google-maps img {
    max-width: none
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle
}

button,
input {
    *overflow: visible;
    line-height: normal
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

textarea {
    overflow: auto;
    vertical-align: top
}

@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: ""
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    tr,
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100% !important
    }
    @page {
        margin: 0.5cm
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}

body {
    margin: 0;
    font-family: Helvetica, Arial, "Hiragino Sans GB", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
}

a {
    color: #555555;
    text-decoration: none
}

p {
    margin: 0 0 10px
}

small {
    font-size: 85%
}

strong {
    font-weight: bold
}

em {
    font-style: italic
}

cite {
    font-style: normal
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999999
}

h1,
h2,
h3 {
    line-height: 40px
}

h1 {
    font-size: 38.5px
}

h2 {
    font-size: 31.5px
}

h3 {
    font-size: 24.5px
}

h4 {
    font-size: 17.5px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 11.9px
}

h1 small {
    font-size: 24.5px
}

h2 small {
    font-size: 17.5px
}

h3 small {
    font-size: 14px
}

h4 small {
    font-size: 14px
}

.page-header {
    padding-bottom: 9px;
    margin: 20px 0 30px;
    border-bottom: 1px solid #eeeeee
}

ul,
ol {
    padding: 0;
    margin: 0 0 10px 25px
}

ul ul,
ul ol,
ol ol,
ol ul {
    list-style-type: circle;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    margin-bottom: 0
}

li {
    line-height: 20px
}

ul {
    list-style-type: disc;
}

ul,
menu,
dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

ul.unstyled,
ol.unstyled {
    margin-left: 0;
    list-style: none
}

ul.inline,
ol.inline {
    margin-left: 0;
    list-style: none
}

ul.inline>li,
ol.inline>li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding-left: 5px;
    padding-right: 5px
}

ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul {
    list-style-type: square;
}

dl {
    margin-bottom: 20px
}

dt,
dd {
    line-height: 20px
}

dt {
    font-weight: bold
}

dd {
    margin-left: 10px
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid white
}

abbr[title],
abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #999999
}

abbr.initialism {
    font-size: 90%;
    text-transform: uppercase
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 5px solid #eeeeee
}

blockquote p {
    margin-bottom: 0;
    font-size: 17.5px;
    font-weight: 300;
    line-height: 1.25
}

blockquote small {
    display: block;
    line-height: 20px;
    color: #999999
}

blockquote small:before {
    content: '\2014 \00A0'
}

blockquote.pull-right {
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eeeeee;
    border-left: 0
}

blockquote.pull-right p,
blockquote.pull-right small {
    text-align: right
}

blockquote.pull-right small:before {
    content: ''
}

blockquote.pull-right small:after {
    content: '\00A0 \2014'
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: ""
}

address {
    display: block;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 20px
}

code,
pre {
    padding: 0 3px 2px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 12px;
    color: #3f3f3f;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

code {
    padding: 2px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    white-space: nowrap;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

pre.prettyprint {
    margin-bottom: 20px
}

pre code {
    padding: 0;
    color: inherit;
    white-space: pre;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0
}

form {
    margin: 0 0 20px
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #3f3f3f;
    border: 0;
    border-bottom: 1px solid #e5e5e5
}

legend small {
    font-size: 15px;
    color: #999999
}

.markdownContent {
    bottom: 0;
    padding: 40px;
    padding-bottom: 0
}

.article .preview .title {
    word-break: break-all;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5
}

.markdownContent,
.collection-top .description {
    color: #2f2f2f;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.7
}

.markdownContent p,
.collection-top .description p {
    margin: 0 0 25px 0
}

.markdownContent blockquote h1:last-child,
.markdownContent blockquote h2:last-child,
.markdownContent blockquote h3:last-child,
.markdownContent blockquote h4:last-child,
.markdownContent blockquote h5:last-child,
.markdownContent blockquote h6:last-child,
.markdownContent blockquote ul:last-child,
.markdownContent blockquote ol:last-child,
.markdownContent blockquote li:last-child,
.markdownContent blockquote p:last-child,
.collection-top .description blockquote h1:last-child,
.collection-top .description blockquote h2:last-child,
.collection-top .description blockquote h3:last-child,
.collection-top .description blockquote h4:last-child,
.collection-top .description blockquote h5:last-child,
.collection-top .description blockquote h6:last-child,
.collection-top .description blockquote ul:last-child,
.collection-top .description blockquote ol:last-child,
.collection-top .description blockquote li:last-child,
.collection-top .description blockquote p:last-child {
    margin-bottom: 0
}

.markdownContent .video-package .video-description p,
.collection-top .description .video-package .video-description p {
    margin: 0
}

.markdownContent li p,
.collection-top .description li p {
    margin: 16px 0;
    overflow: visible
}

.markdownContent a,
.collection-top .description a {
    color: #3194d0
}

.markdownContent a:hover,
.collection-top .description a:hover {
    color: #3194d0
}

.markdownContent a.active,
.markdownContent a:active,
.markdownContent a:focus,
.collection-top .description a.active,
.collection-top .description a:active,
.collection-top .description a:focus {
    color: #3194d0
}

.markdownContent a.disabled,
.markdownContent a.disabled:hover,
.markdownContent a.disabled:focus,
.markdownContent a.disabled:active,
.markdownContent a.disabled.active,
.markdownContent a[disabled],
.markdownContent a[disabled]:hover,
.markdownContent a[disabled]:focus,
.markdownContent a[disabled]:active,
.markdownContent a[disabled].active,
.collection-top .description a.disabled,
.collection-top .description a.disabled:hover,
.collection-top .description a.disabled:focus,
.collection-top .description a.disabled:active,
.collection-top .description a.disabled.active,
.collection-top .description a[disabled],
.collection-top .description a[disabled]:hover,
.collection-top .description a[disabled]:focus,
.collection-top .description a[disabled]:active,
.collection-top .description a[disabled].active {
    cursor: not-allowed;
    color: #999999
}

.markdownContent p,
.markdownContent ul,
.markdownContent ol,
.collection-top .description p,
.collection-top .description ul,
.collection-top .description ol {
    word-break: initial;
    word-break: break-word
}

.markdownContent h1,
.markdownContent h2,
.markdownContent h3,
.markdownContent h4,
.markdownContent h5,
.markdownContent h6,
.collection-top .description h1,
.collection-top .description h2,
.collection-top .description h3,
.collection-top .description h4,
.collection-top .description h5,
.collection-top .description h6 {
    margin: 0 0 15px 0;
    color: inherit;
    line-height: 1.7;
    text-rendering: optimizelegibility
}

.markdownContent h1,
.collection-top .description h1 {
    font-size: 26px
}

.markdownContent h2,
.collection-top .description h2 {
    font-size: 24px
}

.markdownContent h3,
.collection-top .description h3 {
    font-size: 22px
}

.markdownContent h4,
.collection-top .description h4 {
    font-size: 20px
}

.markdownContent h5,
.collection-top .description h5 {
    font-size: 18px
}

.markdownContent h6,
.collection-top .description h6 {
    font-size: 16px
}

.markdownContent hr,
.collection-top .description hr {
    margin: 0 0 20px;
    border-top: 1px solid #d9d9d9
}

.markdownContent blockquote,
.collection-top .description blockquote {
    padding: 20px;
    margin-bottom: 25px;
    background-color: whitesmoke;
    border-left: 6px solid #b4b4b4;
    word-break: break-word;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px
}

.markdownContent blockquote .image-package,
.collection-top .description blockquote .image-package {
    width: 100%;
    margin-left: 0
}

.markdownContent blockquote p,
.collection-top .description blockquote p {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.7
}

.markdownContent ol,
.markdownContent ul,
.collection-top .description ol,
.collection-top .description ul {
    margin-bottom: 20px
}

.markdownContent ol li,
.markdownContent ul li,
.collection-top .description ol li,
.collection-top .description ul li {
    line-height: 30px
}

.markdownContent ol li ol,
.markdownContent ol li ul,
.markdownContent ul li ol,
.markdownContent ul li ul,
.collection-top .description ol li ol,
.collection-top .description ol li ul,
.collection-top .description ul li ol,
.collection-top .description ul li ul {
    margin-top: 15px
}

.markdownContent pre,
.collection-top .description pre {
    word-wrap: normal;
    word-break: break-all;
    white-space: pre;
    overflow: auto;
    margin-bottom: 20px;
    border-radius: 0
}

.markdownContent pre code,
.collection-top .description pre code {
    padding: 0;
    background-color: transparent;
    white-space: pre
}

.markdownContent code,
.collection-top .description code {
    padding: 2px 4px;
    background-color: #f6f6f6;
    border: none;
    color: #657b83;
    font-size: 12px;
    white-space: pre-wrap;
}

.markdownContent table,
.collection-top .description table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    border-left: none;
    word-break: normal
}

.markdownContent table tr:nth-of-type(even),
.collection-top .description table tr:nth-of-type(even) {
    background-color: rgba(180, 180, 180, 0.1)
}

.markdownContent table thead th,
.collection-top .description table thead th {
    vertical-align: middle;
    text-align: inherit
}

.markdownContent table th,
.markdownContent table td,
.collection-top .description table th,
.collection-top .description table td {
    padding: 8px;
    border: 1px solid #dddddd;
    line-height: 20px;
    vertical-align: middle
}

.markdownContent table th,
.collection-top .description table th {
    font-weight: bold
}

.markdownContent table .image-package,
.collection-top .description table .image-package {
    width: 100%;
    margin-left: 0
}